<nav>
    <div class="navbar">
        <h1 class="navbar-title">Bartosz's Webbsida</h1>
        <a href="/" class="navbar-link">Home</a>
        <a href="/about" class="navbar-link">About</a>
    </div>
</nav>