<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
  <%- include("./partials/navbar") %>
  <main>
    <section>
      <h1>Om.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas enim odit blanditiis? Possimus, autem laborum labore distinctio nobis dignissimos consequuntur velit blanditiis ea rem sint, sed soluta quae deserunt quia, atque hic dolor temporibus voluptatum! Doloribus non adipisci doloremque ipsum animi, inventore quos aspernatur possimus repellendus reprehenderit mollitia perspiciatis neque magni sunt suscipit. Asperiores aut similique quisquam rem dolorem vel libero adipisci autem temporibus reprehenderit unde laborum, a cum, rerum possimus natus debitis consequatur architecto saepe reiciendis ipsa provident sapiente fuga. Earum necessitatibus quod sint, ullam libero eum sequi magnam laudantium quia voluptates sapiente consequatur, fugit dicta amet ab modi cupiditate! Sapiente facere nostrum nobis eligendi enim sint nulla voluptatibus consectetur inventore, deleniti in quis debitis accusamus harum natus hic ullam. Nostrum provident repellendus debitis minima mollitia assumenda repudiandae facilis doloribus perferendis voluptas dolor dicta quo, doloremque quam laudantium magnam reiciendis iusto porro harum ipsa libero quos. Tempore aliquam eum eligendi illo voluptate, eaque dicta velit consequatur sit hic. Ratione expedita ullam voluptates, iste quam quae reprehenderit dolore earum. Voluptate voluptatibus numquam voluptatem non pariatur? Magnam consequuntur adipisci placeat, molestiae praesentium, dolorum rem cum esse reiciendis quidem dolor voluptate omnis non! Deleniti, ratione eaque repudiandae asperiores odit iste aliquam libero delectus temporibus veniam aut blanditiis dolores cum! Eveniet odio quibusdam officia. Hic impedit sed exercitationem, odio voluptatibus tenetur blanditiis culpa nesciunt laboriosam earum laborum est obcaecati deserunt quaerat natus nobis aliquam quae labore aliquid fugiat delectus odit esse! Consequuntur quod, quam, ab amet officiis eos odit, ipsa atque laboriosam dolorum labore laudantium quisquam magnam voluptatibus nemo. Vero, fugiat. Quod vitae et amet eum beatae placeat repellat magni sapiente quasi, a voluptas voluptatum ipsam dicta, debitis soluta sunt quo nesciunt similique deserunt iure neque! Ipsum modi, repudiandae, laborum voluptatem provident quos sapiente, vero accusamus ad dolorem quo ab nesciunt asperiores temporibus.</p>
      <br>
      <a href="/">Gå tillbaks</a>
    </section>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>