<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
  <%- include("./partials/navbar") %>
  <main>
    <section>
      <h1>Hej hej.</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas voluptas magni iste corrupti. Autem ab impedit magni fugit libero iusto veniam tempora similique animi? Cupiditate laudantium ipsum debitis porro obcaecati rerum, quo laborum vel fugit nostrum ipsam voluptates explicabo tempora dolor a vitae in dolorum temporibus natus ex nam culpa doloremque. Consectetur harum facere ea rerum cum sequi quam consequuntur est, numquam blanditiis provident iure perferendis esse deserunt suscipit eveniet nihil aliquam? Maiores debitis nostrum iusto quasi culpa aliquid aspernatur, perferendis corporis rem, ipsa maxime delectus quia nesciunt. Placeat nemo similique, a praesentium illo error totam dolor unde qui consequatur.</p>
      <br>
      <p>Dagens datum <%= date %></p>
      <br>
      <a href="/about">About</a>
    </section>
  </main>
  <%- include("./partials/footer") %>
</body>
</html>